* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dad3f8;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    /* margin: 0 20px; */
    padding: 40px 50px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .main-title {
    font-size: 30px;
    /* font-weight: 500; */
    margin-bottom: 10px;
    font-weight: 700;
}

.container .content {
    /* display: flex;
    flex-direction: row; */
    /* position: relative; */
    /* align-items: flex-start; */
}

.container .content .list {
    margin-bottom: -15px; /*esse é daora*/
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
}

.content .list label {
    /* height: 60px; */
    display: flex;
    align-items: center;
    gap: 10px;
    /* padding: 10px 15px; */
    font-size: 22px;
    /* font-weight: 500; */
    /* border-radius: 12px; */
    line-height: 60px;
    cursor: pointer;
    color: #333;
    transition: all 0.4s ease;
    /* width: fit-content; */
} 

.content .list label:hover {
    color: #6d50e2;
}

#home:checked ~ .list label.home,
#blog:checked ~ .list label.blog,
#help:checked ~ .list label.help,
#code:checked ~ .list label.code,
#about:checked ~ .list label.about {
    color: #fff;
    background: #6d50e2;
}

.content .indicator {
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background: #6d50e2;
    border-radius: 12px;
    transition: all 0.4s ease;
    z-index: -1;
}

#home:checked ~ .list .indicator { top: 0; }
#blog:checked ~ .list .indicator { top: 60px; }
#help:checked ~ .list .indicator { top: 120px; }
#code:checked ~ .list .indicator { top: 180px; }
#about:checked ~ .list .indicator { top: 240px; }
